body {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: blue;
   background-color: black;
   border: 30px solid red;
   border-radius: 15px;
   s
}

#container {
   border: 20px solid green;
   border-radius: 10px;
   font-size: 50px;
}

a{
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
}