body {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: blue;
   background-color: black;
   border: 30px solid red;
   border-radius: 15px;
   s
}

#container {
   border: 20px solid green;
   border-radius: 10px;
   font-size: 50px;
}

a{
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
}

footer {
   background-color: white;
   background-image: url('https://static.platzi.com/media/tmp/class-files/git/hyperblog/hyperblog-996396cf687b3d1ea33e5d5fdf564194f4e04005/imagenes/dragon.png');
   width: 50px;
   height: 50px;
}